<mat-sidenav-container>

    <mat-sidenav mode="push" [(opened)]= "opened">
        <mat-nav-list>
            <a mat-list-item href="#"> <mat-icon>home</mat-icon> Retour à l'accueil</a>
            <a mat-list-item href="#"> <mat-icon>theaters</mat-icon> Episodes</a>
            <a mat-list-item href="#"><mat-icon>face</mat-icon> Acteurs</a>
         </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar color="primary" class="navbar_material">
            <div>C'est pas Sorcier</div>
            <div>
                <span class="link_menu" (click)="opened=!opened">Menu</span>
                <em>Used Angular & Material Design</em>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
        <app-footer></app-footer>

    </mat-sidenav-content>

</mat-sidenav-container>
